.primary-bg-color {
  background-color: #d2efe1;
}

.hero {
  width: 100vw;
  background-color: #d2efe1;
}

.rounded {
  border-radius: 50% !important;
  padding: 1rem;
}

.section_title {
  position: absolute;
  width: 130px;
  bottom: 45px;
  border-bottom: 3px solid #d2efe1;
}

.section_link {
  text-decoration: none;
  /* color: #000000; */
}

.swiper-wrapper {
  display: grid;
  grid-template-rows: repeat(3, 250px);
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
}

.short-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.short-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__image {
  border: 1px solid black;
}
.product_detail_image {
  width: 100%;
  min-height: 400px;
  object-fit: cover;
}

.cart-image{
  border: 1px solid gray;
  border-radius: 10%;
}

.cart__detail{
  border-left: 1px solid gray;
}